<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.DoAn_QuanLyQuanCafeConnectionString"
            connectionString="Data Source=DESKTOP-4S3LON0\SQLEXPRESS;Initial Catalog=DoAn_QuanLyQuanCafe;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>